<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="board/layout/basic">

<th:block layout:fragment="title">
    <title>This page is a list page</title>
</th:block>

<th:block layout:fragment="search">
    <div th:replace="board/fragments/common :: search"></div>
</th:block>

<th:block layout:fragment="content">
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회 수</th>
            </tr>
            </thead>
            <tbody>
            <!--
                th:if : if문
                th:unless : else문. th:if에 들어가는 조건과 동일 조건을 지정해야됨.
                #list.isEmpty() : 데이터 비어있으면 true 리턴.
                                 ${not #lists.isEmpty( boardList )}와 동일.
                th:each : JSTL <c:forEach> 와 유사 기능.
                일반적인 get parameter : /board/view?idx=${idx}&page=${page}
                타임리프 get parameter : /board/view?(idx=${idx},page=${page}
            -->
            <tr th:if="${#lists.isEmpty( boardList ) == false}" th:each="row : ${boardList}">
                <td scope="row" th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
                <!--<td class="text-left">
                    <a th:href="@{/board/view( idx=${row.idx} )}" th:text="${row.title}"></a>
                </td>-->
                <!--
                    타임리프에선 문자열 연결시 문자열을 |로 감싼다. |감쌀문자열|
                    "'hello,'+${row.writer}" ==  |hello, ${row.writer}|
                -->
                <td class="text-left">
                    <a th:href="|@{/board/view}${params.makeQueryString(params.currentPageNo)}&idx=${row.idx}|"
                       th:text="${row.title}"></a>
                </td>
                <td th:text="${row.writer}"></td>
                <td th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd HH:mm' )}"></td>
                <td th:text="${row.viewCnt}"></td>
            </tr>
            <tr th:unless="${not #lists.isEmpty( boardList )}">
                <td colspan="5">조회된 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>

        <div class="btn_wrap text-right">
            <a th:href="@{/board/write}" class="btn btn-primary waves-effect waves-light">Write</a>
        </div>

        <th:block layout:fragment="paging">
            <nva th:replace="board/fragments/common :: pagination"></nva>
        </th:block>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        function movePage(uri, queryString) {
            location.href = uri + queryString;
        }

        function searchBoard(form) {
            /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
            if (isEmpty(form) == true) {
                let searchKeyword = document.getElementById("mainSearchKeyword");
                if (isEmpty(searchKeyword.value) == true) {
                    alert("키워드를 입력해 주세요.");
                    searchKeyword.focus();
                    return false;
                }

                form = document.getElementById("searchForm");
                form.searchKeyword.value = searchKeyword.value;
                form.submit();
            }

            /*[- 드롭다운으로 검색했을 때-]*/
            if (isEmpty(form.searchKeyword.value) == true) {
                alert("키워드를 입력해 주세요.");
                form.searchKeyword.focus();
                return false;
            }
        }

        /*[- end of function -]*/

        /*]]>*/
    </script>
</th:block>

</html>